body{
  font-family: 'Poppins', sans-serif;
  margin:0;
 
}
h1{
  font-size:50px;
}
h2{
  font-size:40px;
}
span{
  color:#F4A460;
}
.conved-half{
  display:flex;
  margin-bottom: 150px;
}
.half-width{
   width:50%;
   padding:5%;
}
.half-width img{
   width:100%;
}
.link-button{
  text-decoration:none;
  padding:10px 40px;
  border: 1px solid rgb(221, 188, 188);
  color:white;
  border-radius:5px;
  transition: 3s;
  background-image:linear-gradient(orange,tomato);
  font-weight:700;
}

  

.top-banner{
     background-image:url('images/top-banner.png');
     background-repeat: no-repeat;
}

a{
  text-decoration: none;
  background-image: linear-gradient(blue,red);
  padding: 10px 40px;
  color: aliceblue;
}
.dream{
   background-image: url(images/dream-bg.png);
   background-repeat:no-repeat;
   background-position: right;
}
.experiences-item{
  width: 40% ;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  padding-left:20px;

}
.exparence{
       background-image: url(images/exp-bg.png);
       background-repeat: no-repeat;
       background-position: left;
       margin-top:0;
 
}
#full{
  border-left: 7px outset cornflowerblue;
}
#baby{
 border-left: 7px inset chocolate;
}
#footer{
   text-align: center;
}